.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: #f8f9fa;
  font-family: 'BreeSerif', serif;
  font-size: 16px;
}

.header  nav {
    cursor: pointer;
}

.leftSide{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 40px;
}
